.portfolio {
  text-align: center;
  padding: 80px 0 108px 0;
  border-color: var(--bg-main-gray);
  color: var(--font-color-black);
}

.portfolio-title {
  font-size: 34px;
  font-weight: 700;
}

.portfolio-pictures {
    width: 100%;
  max-width: 950px;
  height: 630px;
  margin: 76px 0 0 0;
  object-fit: cover;
}

.portfolio-description {
  font-size: 18px;
  font-weight: 700;
  margin: 39px 0 95px 0;
}

@media (max-width: 480px) {
  .portfolio-pictures {
    max-width: 310px;
    height: 206px;
    margin: 50px 0 0 0;
  }

  .portfolio-description {
    font-size: 14px;
    margin: 29px 0 50px 0;
  }
}
